* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* CSS HEX */
    --selective-yellow: #EEE5BE;
    --gunmetal: #193039ff;


--sap-green: #507c33ff;
--beau-blue: #c2dcf2ff;
--platinum: #e6ebebff;
--persian-orange: #d88c4eff;
--rufous: #a50d0dff;

}

body {
    font-family: Avenir, Arial, sans-serif;
    background-color: var(--beau-blue);
    color: var(--gunmetal);
}


ul, li {
    list-style: none;
     margin: 10px 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
}

li {
        flex-direction: row;
}

textarea {
    width: 180px;
    height: 50px;
    background-color: var(--beau-blue);
    padding-left: 2px;
}

button {
    width: 30px;
    background-color: var(--persian-orange);

    color: #6e404a;
}

form button {
    width: 100%;
}



button:disabled {
    background-color: var(--selective-yellow);
    color: gray;
}



img {
    width: 100%;
}

.outer-container {
    background-color: var(--beau-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
}


.inner-container {
    background-color: var(--platinum);
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 300px;
    flex-basis: 500px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 20px;
    padding: 10px;

}



.rows {
    display: flex;
    flex-direction: row;
}

.nav {
    background-color: var(--sap-green);
    color: var(--platinum);
    display: flex;
    align-items: center;
    justify-content: center;
    /*Boven en onder 30px + links en rechts 40px */
    padding: 30px 40px;
}

.tekst {
    width: 100px;
}

.tekstlong {
    width: 152px;
}

.img-container {
    max-width: 1000px;
}

.reset button {
    width: 200px;
}

.reset button:disabled {
    background-color: var(--selective-yellow);
    color: gray;
}

.tekstbefore{
    margin: 5px;
    width: 100px;
}

input, select {
    background-color: var(--beau-blue);
    padding-left: 2px;

}

select {
    width: 120px;
}






